#nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

#nav {
    background-color: #001;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    height: 3em;
    overflow: hidden;
}

#nav.nav-visible {
    height: 100%;
    overflow: auto;
}

.menu a{
  width: 100%;
  text-align: center;
}

.nav {
    display: flex;
    height: 4em;
    line-height: 3em;
    flex-grow: 1;
}

.nav-link {
    padding: 0 1em;
    line-height: 3em;
}

.logo{
    padding: 0px 0.5em;
}

span.gradient {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #1FA2FF);
    background: linear-gradient(45deg, #f857a8, #1FA2FF);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
}
span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav-wrapper {
    overflow: hidden;
}

#nav {
    overflow: hidden;
    flex-direction: row;
}

.nav-link {
    border-top: none;
}

.right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
}

.left{
  max-height: 3em;
}

.btn-nav {
    display: none;
}

.nav a:link.active, a:visited.active, a:active.active {
    background: #00f2ff;
    background: -webkit-linear-gradient(45deg, #f857a8, #1FA2FF);
    background: linear-gradient(45deg, #f857a8, #1FA2FF);
    color: #fff;
}

.nav-link-span {
    transform: skew(20deg);
    display: inline-block;
}

.nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
}
.nav-link:last-child {
    padding-right: 3em;
    color: #00f2ff;
    font-weight: 700;
    margin-right: 0.5vw;
}

a:hover.nav-link:not(.active) {
    color: #00f2ff;
    background: #ddd;
    background: linear-gradient(45deg, transparent, #1FA2FF);
}

.top-nav{
    display: none!important;
}

@keyframes logo-hover {
    20% {
    padding-right: 0em;
    }
    100% {
    padding-right: 5em;
    }
}

@media screen and (max-width: 768px){
    .incHeight{
      min-height: 355px!important;
    }
    .left span{
        min-width: 40%!important;
    }
    .logo img{
        min-width: 100%!important;
    }
    span.gradient:hover {
      animation-duration: none;
      animation-fill-mode: none;
    }
    .desk{
        display: none;
    }
    .top-nav{
        display: flex!important;
    }
}



.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 3em;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  padding: 20px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: block;
  opacity: 0;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}


#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 3em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3.2em;
    padding: 0.8em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}