@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html, body{
  scroll-behavior: smooth;
  display: contents;
  overflow-x: hidden;
}

@media screen and (max-width: 768px){
  ::-webkit-scrollbar{
    display: none;
  }
}

