.grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}

.image{
    /* background-image:url('nasa2.jpg'); */
    background-position: center;
    background-size: cover;
}

.about{
    display: grid;
    grid-template-rows: 25% 50% 25%;
    margin-top: 3.5em;
    padding: 0px 50px;
}

#heading{
    font-family: 'Montserrat';
    display: inline;
    border-bottom: 2px solid #74b9ff;
}

@media screen and (max-width: 411px){
    .image{
        display: none;
    }
}